

* {
    box-sizing: border-box;
  }
  
  *:focus {
    box-shadow: none;
  }
  
  body, 
  html {
    position: relative;
    display: flexbox;
    color: with;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    height: 100%;
  }


/*  NAPISY INTRO  */

  .intro_bar{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    height: 200px;
    margin: auto;
  }
  
  .intro_typing{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 900;
    margin: auto;
  }

  .say_hello_def,
  .say_hello{
    color: rgb(236, 182, 44);
  }
  
  .hello_world{
    color: #d47100;
  }

  .def{
    position:relative;
    display: inline-block;
    overflow: hidden;
    color: rgb(116, 116, 252);
  }

  .def >span{
    position:absolute;
    top:0;
    right: 0px;
    height:100%;
    background-color:rgba(0, 0, 0, 0.945);
    border-left:2px solid transparent;
    animation:pisz 11s steps(26, end), znak 0.5s step-end 22;
    -webkit-animation:pisz 3s steps(16) , znak 0.6s step-end 8 ;
  }

  .main-title {
    margin: 0;
    text-indent: 2.5em;
    color: rgb(236, 182, 44);
    text-align: justify;
    position: relative;
    overflow: hidden;
  }

  .main-title > span{
    position:absolute;
    top:0;
    right: 0;
    
    height:100%;
    background-color:rgba(0, 0, 0, 0.959);
    border-left:1px solid transparent;
    animation:pisz 6s steps(26), znak 0.5s step-end 12;
    -webkit-animation:pisz 10s steps(30), znak 0.6s step-end 20;
    animation-delay: 5s;
    -webkit-animation-delay:5s;
  }

  .main-title2 {
    margin: 0;
    text-indent: 2.5em;
    color: rgb(236, 182, 44);
    text-align: justify;
    position: relative;
    overflow: hidden;
  }

  .main-title2 > span{
    position:absolute;
    top:0;
    right: 0;
    
    height:100%;
    background-color:rgba(0, 0, 0, 0.959);
    border-left:1px solid transparent;
    animation:pisz 6s steps(26), znak 0.5s step-end 12;
    -webkit-animation:pisz 11s steps(35), znak 0.6s step-end 20;
    animation-delay: 5s;
    -webkit-animation-delay:18s;
  }

  .say_hello{
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .say_hello > span{
    position:absolute;
    top:0;
    right: 0px;
    height:100%;
    background-color:rgba(0, 0, 0, 0.945);
    border-left:2px solid transparent;
    animation:pisz 11s steps(26, end), znak 0.5s step-end 22;
    -webkit-animation:pisz 4s steps(11) , znak 0.6s step-end 8 ;
    animation-delay: 10s;
    -webkit-animation-delay: 30s;
  }
  
  @keyframes pisz{
    0% { width:100%; }
    100% { width:0; }
  }
  
  @keyframes znak{
    0% { border-left-color:transparent; }
    50% { border-left-color:rgb(255, 102, 0); }
    100% { border-left-color:transparent; }
    100% { opacity: 0;}
  }
  
    @-webkit-keyframes pisz{
      0% { width:100%; }
      100% { width:0; }
    }

    @-webkit-keyframes znak{
      0% { border-left-color:transparent; }
      50% { border-left-color:rgb(255, 102, 0); }
      100% { border-left-color:transparent; }
    }

    /* SEKCJA NAWIGACYJNA */

    .navi_bar{
      position: fixed;
      width: 100%;
      box-sizing: inherit;
      display: block;
      -webkit-text-size-adjust: 100%;
      background-color: #000000;
    }

    .navi_buttons{
      color: rgb(255, 102, 0);
      box-shadow: 0 2px 5px 0 rgb(0, 0, 0/ 16%), 0 2px 10px 0 rgb(0 0 0/ 12%);
      width: 100%;
      overflow: hidden;
      box-sizing: inherit;
      display: block;
      -webkit-text-size-adjust: 100%;
    }
    
    .return_to_main{
      box-sizing: border-box;
      color: rgb(116, 116, 252);
      cursor: pointer;
      display: block;
      float: left;
      font-family: 'Courier New', Courier, monospace;
      font-size: 12px;
      font-weight: 900;
      height: 38px;
      letter-spacing: 2px;
      line-height: 22.5px;
      text-align: center;
      text-decoration-color: rgb(0, 0, 0);
      text-decoration-line: none;
      text-decoration-style: solid;
      -webkit-text-decoration-thickness: auto;
      -webkit-text-size-adjust: 100%;
      user-select: none;
      vertical-align: middle;
      white-space: normal;
      width: 96.1094px;
    }

    .right_buttons{
      float: right!important;

      display: block;
    }

    .direct_button{
      box-sizing: border-box;
      color: rgb(116, 116, 252);
      cursor: pointer;
      display: block;
      float: left;
      font-family: 'Courier New', Courier, monospace;
      font-size: 12px;
      font-weight: 900;
      height: 38px;
      letter-spacing: 2px;
      line-height: 22.5px;
      text-align: center;
      text-decoration-color: rgb(0, 0, 0);
      text-decoration-line: none;
      text-decoration-style: solid;
      -webkit-text-decoration-thickness: auto;
      -webkit-text-size-adjust: 100%;
      user-select: none;
      vertical-align: middle;
      white-space: normal;
      width: 96.1094px;
    }



/*  SEKCJA POD INTRO  */

  .splash {
    position:static;
    display: flow-root;
    flex-direction:unset;
    padding: 0 320px;
    background-image: url("./img/pexels-kevin-ku-577585 (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
  }

  .page-intro {
    position: relative;
    display:flexbox;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 900;
    margin-top: 100px;

  }

  @font-face{
    font-family: neon;
    src: url("./fonts/FortrackItalic-5zBj.otf");
  }

  .main-subtitle{
    font-family:  neon,  cursive;
    color:rgb(223, 220, 46);
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    background-color: #00000056;
    background-position: 100%;
    border-radius: 20px ;
    margin: 0px 0 60px 0;
    
    box-shadow: 0px 8px 43px 0px rgba(255, 255, 255, 0.815);
    font-weight: 100;
    text-align: center;
    font-size: 46px;
  }

  @keyframes flicker1 {
    75% {
      color: inherit;
      text-shadow: inherit;
    }
    76% {
      color: #222;
    }
    77% {
      color: inherit;
      text-shadow: none;
    }
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #222;
      text-shadow: none;
    }
    80% {
      color: inherit;
      text-shadow: inherit;
    }
    90% {
      color: #222;
      text-shadow: none;
    }
    90.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
      
  @-webkit-keyframes flicker1 {
    75% {
      color: inherit;
      text-shadow: inherit;
    }
    76% {
      color: #222;
    }
    77% {
      color: inherit;
      text-shadow: none;
    }
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #222;
      text-shadow: none;
    }
    80% {
      color: inherit;
      text-shadow: inherit;
    }
    90% {
      color: #222;
      text-shadow: none;
    }
    90.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

 /* @keyframes flicker2 {
    90% {
      opacity: .1;
      text-shadow: 
        0 0 .05em var(--c1), 
        0 0 .1em var(--c2), 
  
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), 
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), 
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1),
  
        0 0 0 var(--base),
        0 0 0 var(--base);
    }
  }

  @-webkit-keyframes flicker2 {
    90% {
      opacity: .1;
      text-shadow: 
        0 0 .05em var(--c1), 
        0 0 .1em var(--c2), 
  
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), 
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), 
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1),
  
        0 0 0 var(--base),
        0 0 0 var(--base);
    }
  } */


  .main-subtitle >span {
    animation: flicker1 linear infinite 1s;
  }

  /*.buttons{
    position: static;
    display:inline-block;
    

    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 900;
    margin: inherit;
  }*/
  
  .polish_version{
   margin:40px 250px;
    vertical-align: middle;
    border: none;
    position: static;
    box-sizing: inherit;
    display:inline-block;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 2;
    color: rgb(0, 0, 0);
    background-image: url("./img/Flaga-polski.jpg");
    background-size: 200px 80px;
    background-repeat: no-repeat;
    background-position: center ;
  }

  .polish_version:hover {
    
    font-size: 29px;
}

  .polish_version:active{
    box-shadow: inset 0px 2px 5px 0px #ff6b08b6;
  }

.polish_version,
.english_version{
  display: grid;
}

  .english_version{
    margin:40px 250px;
    text-decoration: underline;
    text-decoration-style: double;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 2;
    color: rgb(0, 0, 0);
    background-image: url("./img/flaga-UK.jpg");
    background-size:200px 80px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .english_version:hover {
    font-size: 29px;
}

  .english_version:active{
    box-shadow: inset 0px 2px 5px 0px #ff6b0896;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  section {
    padding: 60px 0;
  }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }

 

  
  